@model EfficiencyMark.Models.ListOfIndicators

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ListOfIndicators</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfTheIndicator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfTheIndicator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
